{% extends 'base.html' %}

{% block header %}
  <h2>{% block title %}Phonetics{% endblock title %}</h2>
  <p>Select individual phonetics to test: </p>
{% endblock header %}
{% block content %}
    <div id="block2" >
      <div class="container">
        <div class="row">
          <div>
            {% set ns = namespace(curr_age=0) %}

            {% for phoneme in phonetics %}
              {% if phoneme.child_age != ns.curr_age %}
                </div>
                <div class="age-{{phoneme.child_age }} age_group col" style="min-width: 200px;">
                  Age: {{ phoneme.child_age/10}}
                  <br>
                {% set ns.curr_age = phoneme.child_age %}

              {% endif %}

        <a href="{{ url_for('word.phoneme_test', phoneme_text=phoneme.text) }}" class="link-dark rounded">
          {{ phoneme.text }}
        </a>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>   

{% endblock content %}