{% extends 'base.html' %}

{% block header %}
  <h2>{% block title %}          {{ phoneme.text }}
{% endblock title %}</h2>
{% endblock header %}

{% block content %}
  <form method="post" action="{{ url_for('word.testing') }}">
    <input type="checkbox" id="phoneme-{{phoneme.id}}" name="phoneme-{{phoneme.id}}" hidden checked=checked>

    <button type="submit">Test this phonetic</button>

  </form>
  <br>
     <table>
        <thead>
        <th>Words</th>
        <th>Image</th>
        </thead>
        <tbody>
          {% for word in words %}
            <td>{{colourText(word)}}</td>
            <td>
                <img src="{{ url_for('static', filename='images/words/' + word.text + '.png') }}" alt="{{ word.text }}" style="max-height: 500px; max-width: 500px;">
                {% if word.image_credit %}
                    <small>{{ word.image_credit.strip('"') | safe  }}</small>
                {% endif %}
            </td>
</tbody>
          {% else %}
            <p>No words with this phoneme.</p>
          {% endfor %}
    </table>
{% endblock content %}