{% extends 'base.html' %}

{% block header %}
  <h2>{% block title %}All Words{% endblock title %}</h2>
{% endblock header %}

{% block content %}

    <table>
        <thead>
        <th>Words</th>
        <th>image</th>
        </thead>
        <tbody>
          {% for word in words %}
            <td>{{colourText(word)}}</td>
            <td>
                <img src="{{ url_for('static', filename='images/words/' + word.text + '.png') }}" alt="{{ word.text }}" style="max-height: 500px; max-width: 500px;">
                {% if word.image_credit %}
                <br>
                    <small>{{ word.image_credit.strip('"') | safe  }}</small>
                {% endif %}
            </td>
</tbody>
          {% else %}
            <p>No words with this phoneme.</p>
          {% endfor %}
    </table>
{% endblock content %}